local UNIDIS="$(command -v unidis)"
if [ -z "${UNIDIS}" ];
then
  log_error "Executable `unidis` not found"
fi

layout_imperial() {
  local left="${1}"
  [[ $# -gt 0 ]] && shift

  local right="${1}"
  [[ $# -gt 0 ]] && shift

  if [ ! -d "${left}" ] || [ ! -d "${right}" ];
  then
    log_error "Required directories do not exist"
    return 1
  fi

  "${UNIDIS}" --remount-tmp --right "${right}" --unionfs fuseunionfs --update-path \
    "${left}" "${SHELL}"
}

imperial_wrapper() {
  local left="${1}"
  [[ $# -gt 0 ]] && shift

  local destination="${1}"
  [[ $# -gt 0 ]] && shift

  mkdir -p "$(direnv_layout_dir)/$(dirname "${destination}")"
  printf "%s --remount-tmp --right / --unionfs fuseunionfs --update-path %s %s \"\$@\"" \
    "${UNIDIS}" "${left}" "$@" | tee "$(direnv_layout_dir)/${destination}"

  chmod +x "$(direnv_layout_dir)/${destination}"
}

# Typically a NixOS distribution does not contain "/lib"
if [ ! -d "/lib" ];
then
  # imperial_wrapper ".arch/root" "julia/bin/julia" "julia"
  layout_imperial "/" ".arch/root"
fi
