layout_imperial() {
  local left="${1}"
  [[ $# -gt 0 ]] && shift

  local right="${1}"
  [[ $# -gt 0 ]] && shift

  if [ ! -d "${left}" ] || [ ! -d "${right}" ];
  then
    log_error "Required directories do not exist"
    return 1
  fi

  local UNIDIS="$(command -v unidis)"
  if [ -z "${UNIDIS}" ];
  then
    log_error "Executable `unidis` not found"
  fi

  "${UNIDIS}" --remount-tmp --right "${right}" --unionfs fuseunionfs --update-path \
    "${left}" "${SHELL}"
}

# Typically a NixOS distribution does not contain "/lib"
if [ ! -d "/lib" ];
then
  layout_imperial "/" ".arch/root"
fi
