[submodule "juliacon21-gpu_workshop"]
	path = juliacon21-gpu_workshop
	url = https://github.com/maleadt/juliacon21-gpu_workshop.git
[submodule "JuliaCon2021-DataFrames-Tutorial"]
	path = JuliaCon2021-DataFrames-Tutorial
	url = https://github.com/bkamins/JuliaCon2021-DataFrames-Tutorial.git
[submodule "JuliaCon2021-StatisticsWithJuliaFromTheGroundUp"]
	path = JuliaCon2021-StatisticsWithJuliaFromTheGroundUp
	url = https://github.com/yoninazarathy/JuliaCon2021-StatisticsWithJuliaFromTheGroundUp.git
[submodule "juliacon_dft_workshop"]
	path = juliacon_dft_workshop
	url = https://github.com/mfherbst/juliacon_dft_workshop.git
[submodule "parallel-gpu-workshop-JuliaCon21"]
	path = parallel-gpu-workshop-JuliaCon21
	url = https://github.com/luraess/parallel-gpu-workshop-JuliaCon21.git
[submodule "juliacon2021-workshop-pkgdev"]
	path = juliacon2021-workshop-pkgdev
	url = https://github.com/aviatesk/juliacon2021-workshop-pkgdev.git
[submodule "MarineEcosystemsJuliaCon2021.jl"]
	path = MarineEcosystemsJuliaCon2021.jl
	url = https://github.com/JuliaOcean/MarineEcosystemsJuliaCon2021.jl.git
